<html>
    <body>
        <h1>Index</h1>
        <p>This is the index!</p>
        
        <% messages.forEach((message, index) => { %>
            <div class="message">
                <p><%= message.user %> <%= message.added %></p>
                <p><%= message.text %></p>

                <form method="POST" action="/message/<%= index %>">
                    <button type="submit">Open Message</button>
                </form>
            </div>
        <% }) %>

        <a href="/new">Add a new message here!</a>
    </body>
</html>