<html>
    <body>
        <h1>Viewing message!</h1>

        <div class="message">
            <p><%= message.user %> <%= message.added %></p>
            <p><%= message.text %></p>
        </div>

        <a href="/">Return to the Message Board here</a>
    </body>
</html>