<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>Viewing message!</h1>

        <div class="message">
            <p><%= message.user %> <%= message.added %></p>
            <p><%= message.text %></p>
        </div>

        <a href="/">Return to the Message Board here</a>
    </body>
</html>